# Set the default behavior, in case people don't have core.autocrlf set.
* text=auto

# Declare files that will always have UNIX line endings on checkout.
config/* text=lf
public/* text=lf
provision/main/* text=lf
provision/post/* text=lf
provision/pre/* text=lf

# Denote all files that are truly binary and should not be modified.
*.png binary
*.jpg binary
*.eot binary
*.ttf binary
*.woff binary