# Ignore vagrant's files
/.vagrant

# Ignore config files
/config/*
!/config/config.yaml.sample

# Ignore public directory
/public/*
!/public/dashbrew
!/public/Projectfile.yaml

# ignore any log files
*.log

# IDE stuff
*.sublime*
.idea

# generic files to ignore
*~
*.lock
*.DS_Store
*.swp
*.out

# Windows stuff
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
