# Set the default behavior, in case people don't have core.autocrlf set.
* text=auto

# Declare files that will always have UNIX line endings on checkout.
config/* text eol=lf
public/* text eol=lf
provision/* text eol=lf

# Denote all files that are truly binary and should not be modified.
*.png binary
*.jpg binary
*.eot binary
*.ttf binary
*.woff binary