# Ignore vagrant's files
/.vagrant

# Ignore config files
/config/*

# Ignore public directory
/public/*
!/public/dashbrew

# ignore any log files
*.log

# IDE stuff
*.sublime*
.idea

# generic files to ignore
*~
*.lock
*.DS_Store
*.swp
*.out

# Windows stuff
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
